@font-face {
    font-family: 'BTabassom';
    src: url('fonts/BTabassom.eot?#') format('eot'), /* IE6–8 */ url('fonts/BTabassom.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BTabassom.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'BYekan';
    src: url('fonts/BYekan.eot?#') format('eot'), /* IE6–8 */ url('fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
    background-color: rgb(245, 245, 245);
    font-family: BYekan, serif;
}

.mw__fancy_font {
    font-family: BTabassom, monospace;

}

.mw__attention_color {
    background-color: #4C98E4;
    color: #ffffff;
    font-weight: 800;
}

.mw__header h1 {
    width: 33%;
    text-align: center;
    margin: auto;
}

.mw__side_block_header {
    font-size: 200%;
    margin-top: 0;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(234, 234, 234);
}

.mw__side_block_body {
    background-color: rgb(241, 241, 241);
    padding: 7px;
    border-bottom: solid thin rgba(224, 224, 224, 0.1);
}

.mw__side_block_body ul {
    padding-right: 7px;
}

.mw__side_block_body ul li {
    padding-right: 7px;
    padding-top: 8px;
}

.mw__content {
    margin-bottom: 75px;
    padding-bottom: 10px;

    padding-right: 10px;
    border-right: solid rgba(76, 152, 228, 0.15) 7px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 1px;

}

.mw__content__header {

}

.mw__content__header a {
    color:  rgba(76, 152, 228, 0.90) ;
}

.mw__content__header a:hover {
    color:  rgba(76, 152, 228, 0.80) ;
}


.mw__content__header a:visited {
    color:  rgba(76, 152, 228, 0.60) ;
}


